@page "/"

<PageTitle>Welcome!</PageTitle>

<h1 class="homepage">Welcome to Calculation world</h1>
<hr/>
<p class="oi oi-arrow-left" style="font-size:large">Please click the Calculator on the left corner</p>
